[submodule "RivalDaLocaliza/rentx-mobile-pdm"]
	path = RivalDaLocaliza/rentx-mobile-pdm
	url = https://github.com/MuriloFuza/rentx-mobile-pdm
[submodule "RivalDaLocaliza/api"]
	path = RivalDaLocaliza/api
	url = https://github.com/MuriloFuza/rentx-mobile-pdm
